.foodLoaderContainer {
  overflow: hidden;
  width: 100%;
  height: 2000vh;
  /* position: fixed; */
  left: 0%;
  overflow: hidden;
  z-index: 111;
  background: #fbfcf8;
  display: flex;
  padding-top: 20px;
  /* bottom: -10%; */
  /* justify-content: center; */

  align-items: center;
  flex-direction: column;
}

.foodTrack {
  display: flex;
  gap: 1rem;
  white-space: nowrap;
  animation: scrollLeft 20s linear infinite;
}

.foodItem {
  font-size: 2rem;
  user-select: none;
}
.scrollTrack {
  width: 100%;
  overflow: hidden;
}

.scrollingContent {
  display: flex;
  animation: scrollRight 20s linear infinite;

  width: fit-content;
}
.item {
  margin-right: 15px;
}
.wrap {
  border: 3px solid #3f2f29;
  border-radius: 8px;
  background-color: #ffffffe6;
  z-index: 1111;
  height: 40px;
  max-width: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.logo {
  /* stroke: #000; */
  margin-left: 120px;
  /* fill: #3f2f29; */
  margin-bottom: 20px;
  display: none;
}
.logo2 {
  margin-top: 8px;
  width: 45px;
  height: 40px;
}
.title {
  display: flex;
}
.name {
  font-weight: 600;
  font-size: 45px;
  letter-spacing: -0.03em;
  color: #3f2f29;

  margin-bottom: 20px;
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@media only screen and (min-width: 768px) {
  .wrap {
    order: 2;
    max-width: 400px;
  }
  .name {
    margin-top: 20px;
    font-weight: 600;
    font-size: 80px;

    margin-bottom: 0px;
  }
  .logo2 {
    width: 70px;
    height: 125px;
  }
}

@media only screen and (min-width: 1440px) {
}
